/*.o
/*.strace
/.depend.mk
/.depend-gui.mk
/freemcan-gui
/freemcan-gui.log
/freemcan-gui.ui
/freemcan-gui.xml
/freemcan-tui
/freemcan-tui.log
/hist.*.dat
/hist.*.eps
/hist.*.eps.gz
/hist.*.eps.xz
/hist.*.pdf
/hist.*.png
/hist.*.svg
/hist.*.svg.gz
/hist.*.svg.xz
/lgpl-2.1.xml
/test-log
