/main.o
/spectro-firmware.eep
/spectro-firmware.efuse.txt
/spectro-firmware.elf
/spectro-firmware.fuses
/spectro-firmware.hex
/spectro-firmware.hfuse.txt
/spectro-firmware.lfuse.txt
/spectro-firmware.lss
/spectro-firmware.sym
/spectro.o
