/.deps/
/.objs/
/*.lst
/*.d
/*.o
/*.lfuse.txt
/*.hfuse.txt
/*.efuse.txt
/invented-histogram.bin
/settings.mk
/firmware-*.eep
/firmware-*.elf
/firmware-*.fuses
/firmware-*.hex
/firmware-*.lss
/firmware-*.map
/firmware-*.sym
/firmware-*.vsym
/check-*.check
/*.element-size.txt

/res_invented-histogram.h
/res_invented-histogram.S
