/.deps/
/.objs/
/*.lst
/*.d
/*.o
/*.lfuse.txt
/*.hfuse.txt
/*.efuse.txt
/invented-histogram.bin
/settings.mk
/firmware-*.eep
/firmware-*.elf
/firmware-*.fuses
/firmware-*.hex
/firmware-*.lss
/firmware-*.map
/firmware-*.sym
/check-*.check
/*.element-size.txt
