/*.lst
/*.d
/*.o
/*.lfuse.txt
/*.hfuse.txt
/*.efuse.txt
/invented-histogram.bin
/settings.mk
/firmware-adc-ext-mca.*
/firmware-adc-int-mca.*
/firmware-adc-int-mca-timed.*
/firmware-geiger-counter.*
/firmware-geiger-ts.*
/check-*.check
/geiger-time-series.element-size.txt
